forestDeclaration/3.0/forestDeclaration.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2013 Designer Edition 11.1.0.4725 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:ns0="http://rosleshoz.gov.ru/xmlns/cTypes"
           xmlns:ns1="http://rosleshoz.gov.ru/xmlns/sTypes"
           elementFormDefault="qualified"
           targetNamespace="http://rosleshoz.gov.ru/xmlns/forestDeclaration"
           version="3.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="..\..\commonTypes\cTypes\3.0\cTypes.xsd"
               namespace="http://rosleshoz.gov.ru/xmlns/cTypes" />
    <xs:import schemaLocation="..\..\commonTypes\sTypes\3.0\sTypes.xsd"
               namespace="http://rosleshoz.gov.ru/xmlns/sTypes" />
    <xs:element xmlns:q1="http://rosleshoz.gov.ru/xmlns/forestDeclaration"
                name="forestDeclaration"
                type="q1:forestDeclaration" />
    <xs:complexType name="forestDeclaration">
        <xs:annotation>
            <xs:documentation>Описание лесной декларации</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="serviceInfo"
                        type="ns0:serviceInfo" />
            <xs:element name="number"
                        default="б/н">
                <xs:annotation>
                    <xs:documentation>Номер документа</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="25" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="date"
                        type="xs:date"
                        default="2016-07-15">
                <xs:annotation>
                    <xs:documentation>Дата документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="header">
                <xs:annotation>
                    <xs:documentation>Общие сведения об отчете</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="subject"
                                    type="ns0:reference">
                            <xs:annotation>
                                <xs:documentation>Субъект РФ</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="executiveAuthority"
                                    type="ns0:reference">
                            <xs:annotation>
                                <xs:documentation>Наименование органа государственной власти, органа местного самоуправления</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="period"
                                    type="ns0:period">
                            <xs:annotation>
                                <xs:documentation>Период действия документа</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="partner"
                                    type="ns0:partner">
                            <xs:annotation>
                                <xs:documentation>Отправитель документа</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="signerData"
                                    type="ns0:signerData">
                            <xs:annotation>
                                <xs:documentation>Подписант документа</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="contract"
                                    type="ns0:contract">
                            <xs:annotation>
                                <xs:documentation>Договор</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="easement"
                                    type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Сервитут</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="region"
                                    type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Описание республики, края, автономной области, округа</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="harvestingWood">
                <xs:annotation>
                    <xs:documentation>Таблица «Объем использования лесов в целях заготовки древесины и (или) живицы»</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element xmlns:q1="http://rosleshoz.gov.ru/xmlns/forestDeclaration"
                                    name="row"
                                    type="q1:harvestingWoodRow"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                        <xs:sequence>
                            <xs:element name="usageType"
                                        type="ns0:reference"
                                        minOccurs="0"
                                        maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Вид использования лесов</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="harvestingObject">
                <xs:annotation>
                    <xs:documentation>Таблица «Создание (снос) объектов лесной инфраструктуры»</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element xmlns:q1="http://rosleshoz.gov.ru/xmlns/forestDeclaration"
                                    name="row"
                                    type="q1:harvestingObjectRow"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="otherUsageTypes">
                <xs:annotation>
                    <xs:documentation>Таблица «Объем использования лесов в целях, не связанных с заготовкой древесины и (или) живицы»</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element xmlns:q2="http://rosleshoz.gov.ru/xmlns/forestDeclaration"
                                    name="row"
                                    type="q2:otherUsageTypesRow"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                        <xs:sequence>
                            <xs:element name="usageType"
                                        type="ns0:reference"
                                        minOccurs="0"
                                        maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Вид использования лесов</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="otherUsageObjects">
                <xs:annotation>
                    <xs:documentation>Таблица «Создание (снос) объектов лесной инфраструктуры, лесоперерабатывающей инфраструктуры и объектов, не связанных с созданием лесной инфраструктуры»</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element xmlns:q3="http://rosleshoz.gov.ru/xmlns/forestDeclaration"
                                    name="row"
                                    type="q3:otherUsageObjectsRow"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="mainScheme">
                <xs:annotation>
                    <xs:documentation>Таблица «Общая схема расположения мест проведения работ при использовании лесов»</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element xmlns:q4="http://rosleshoz.gov.ru/xmlns/forestDeclaration"
                                    name="row"
                                    type="q4:mainSchemeRow"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="objectScheme">
                <xs:annotation>
                    <xs:documentation>Таблица «Схема(ы) размещения лесосеки, объекта лесной инфраструктуры, лесоперерабатывающей инфраструктуры и объекта, не связанного с созданием лесной инфраструктуры»</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element xmlns:q1="http://rosleshoz.gov.ru/xmlns/forestDeclaration"
                                    name="row"
                                    type="q1:objectSchemeRow"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="attachments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="file"
                                    type="ns0:file"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="harvestingWoodRow">
        <xs:sequence>
            <xs:element name="specialPurpose"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Справочник "Целевое назначение лесов"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="protectionCategory"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Справочник "Категории зацитности"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="location"
                        type="ns0:location">
                <xs:annotation>
                    <xs:documentation>В поле taxationUnit может присутствовать только одно значение (без перечисления через запятую или тире</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="area"
                        type="ns1:area">
                <xs:annotation>
                    <xs:documentation>Площадь эксплуатационная</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="formCutting"
                        type="ns1:formCutting"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Форма рубки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="typeCutting"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Указывается элемент справочника "Виды рубок"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="farm"
                        type="ns1:farm"
                        minOccurs="0" />
            <xs:element name="tree"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Породный состав (Указывается элемент справочника "Породы древесины")</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unitType"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Единица измерения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="volume"
                        type="ns1:valueCutting">
                <xs:annotation>
                    <xs:documentation>Объем</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="harvestingObjectRow">
        <xs:sequence>
            <xs:element name="object"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Наименование объекта лесной инфраструктуры</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="objectNumber"
                        type="ns1:objectNumber"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Номер объекта лесной инфраструктуры</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element xmlns:q8="forestUsageReport"
                        name="measure"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Объект мероприятия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="location"
                        type="ns0:location">
                <xs:annotation>
                    <xs:documentation>Местоположение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="area"
                        type="ns1:area"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Площадь</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="formCutting"
                        type="ns1:formCutting"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Форма рубки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="typeCutting"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Указывается элемент справочника "Виды рубок"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="farm"
                        type="ns1:farm"
                        minOccurs="0" />
            <xs:element name="tree"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Породный состав (Указывается элемент справочника "Породы древесины")</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unitType"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Единица измерения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="volume"
                        type="ns1:valueCutting"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Объем</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="otherUsageTypesRow">
        <xs:sequence>
            <xs:element name="specialPurpose"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Целевое назначение лесов</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="protectionCategory"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Категория защитных лесов</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="location"
                        type="ns0:location" />
            <xs:element name="area"
                        type="ns1:area"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Площадь эксплуатационная</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="resource"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Вид заготовляемых ресурсов</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unitType"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Единица измерения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="volume"
                        type="ns1:forestUsageVolume"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Объем</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="formCutting"
                        type="ns1:formCutting"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Форма рубки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="typeCutting"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Указывается элемент справочника "Виды рубок"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tree"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Породный состав (Указывается элемент справочника "Породы древесины")</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="treeVolume"
                        type="ns1:valueCutting"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Объем</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="otherUsageObjectsRow">
        <xs:sequence>
            <xs:element name="object"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Наименование объекта не лесной инфраструктуры</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="objectNumber"
                        type="ns1:objectNumber"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Номер объекта лесной инфраструктуры</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="measure"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Объект мероприятия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="location"
                        type="ns0:location" />
            <xs:element name="unitType"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Единица измерения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="volume"
                        type="ns1:forestUsageVolume"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Объем</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="area"
                        type="ns1:area"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Площадь</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="formCutting"
                        type="ns1:formCutting"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Форма рубки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="typeCutting"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Указывается элемент справочника "Виды рубок"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tree"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Породный состав (Указывается элемент справочника "Породы древесины")</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="treeVolume"
                        type="ns1:valueCutting"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Объем</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="mainSchemeRow">
        <xs:sequence>
            <xs:element name="forestry"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Лесничество</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="subforestry"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Участковое лесничество</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tract"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Урочище</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="scale"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Масштаб</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fileID"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор вложения изображения схемы расположения лесного участка</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="objectSchemeRow">
        <xs:sequence>
            <xs:element name="location"
                        type="ns0:location" />
            <xs:element name="objectNumber"
                        type="xs:string"
                        minOccurs="0" />
            <xs:element name="scale"
                        type="xs:string"
                        minOccurs="0" />
            <xs:element name="fileID"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор вложения изображения схемы расположения лесного участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="area"
                        type="ns1:area"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Площадь лесосеки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="overallArea"
                        type="ns1:area"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Общая площадь</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="usageArea"
                        type="ns1:area"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Площадь эксплуатационная</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="coordinateSystem"
                        type="ns1:coordinateSystem"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Описание системы координат</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="explication"
                        minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element xmlns:q6="http://rosleshoz.gov.ru/xmlns/forestDeclaration"
                                    name="element"
                                    type="q6:explicationElement"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="explicationElement">
        <xs:sequence>
            <xs:element name="number"
                        type="xs:int" />
            <xs:element name="latitude"
                        type="xs:float" />
            <xs:element name="longitude"
                        type="xs:float" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
