forestPlotDesignDocumentation/3.0/forestPlotDesignDocumentation.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2013 Designer Edition 11.1.0.4725 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:ns2="http://rosleshoz.gov.ru/xmlns/sTypes"
           xmlns:ns0="http://rosleshoz.gov.ru/xmlns/cTypes"
           elementFormDefault="qualified"
           targetNamespace="http://rosleshoz.gov.ru/xmlns/forestPlotDesignDocumentation"
           version="3.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="..\..\commonTypes\cTypes\3.0\cTypes.xsd"
               namespace="http://rosleshoz.gov.ru/xmlns/cTypes" />
    <xs:import schemaLocation="..\..\commonTypes\sTypes\3.0\sTypes.xsd"
               namespace="http://rosleshoz.gov.ru/xmlns/sTypes" />
    <xs:element name="forestPlotsDesignDocumentation"
                xmlns:q1="http://rosleshoz.gov.ru/xmlns/forestPlotDesignDocumentation"
                type="q1:forestPlotDesignDocumentation">
        <xs:annotation>
            <xs:documentation>Корневой элемент - "Проектная документация на лесной участок"</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="forestPlotDesignDocumentation">
        <xs:annotation>
            <xs:documentation>Описание проекта лесного участка</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="serviceInfo"
                        type="ns0:serviceInfo" />
            <xs:element name="header">
                <xs:annotation>
                    <xs:documentation>Общие сведения</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cadastralNumber"
                                    type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Кадастровый номер</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="name"
                                    type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Наименование лесного участка</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="objectUse"
                                    type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Наименование объекта использования - назначение предоставления лесного участка</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="landDistribution">
                <xs:annotation>
                    <xs:documentation>Таблица «Распределение земель»</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="row"
                                    xmlns:q2="http://rosleshoz.gov.ru/xmlns/forestPlotDesignDocumentation"
                                    type="q2:landDistributionRow"
                                    minOccurs="1"
                                    maxOccurs="1" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="plantingCharacteristics">
                <xs:annotation>
                    <xs:documentation>Таблица «Характеристика насаждений»</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="row"
                                    xmlns:q3="http://rosleshoz.gov.ru/xmlns/forestPlotDesignDocumentation"
                                    type="q3:plantingCharacteristicsRow"
                                    minOccurs="0"
                                    maxOccurs="1" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="averageTaxationRates">
                <xs:annotation>
                    <xs:documentation>Таблица «Характеристика насаждений»</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="row"
                                    xmlns:q4="http://rosleshoz.gov.ru/xmlns/forestPlotDesignDocumentation"
                                    type="q4:averageTaxationRatesRow"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="objectsForestInfrastructure">
                <xs:annotation>
                    <xs:documentation>Описание табличной части "Объекты лесной инфраструктуры"</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="row"
                                    xmlns:q5="http://rosleshoz.gov.ru/xmlns/forestPlotDesignDocumentation"
                                    type="q5:objectRow"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="objectsNoForestInfrastructure">
                <xs:annotation>
                    <xs:documentation>Описание табличной части "Объекты не лесной инфраструктуры"</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="row"
                                    xmlns:q6="http://rosleshoz.gov.ru/xmlns/forestPlotDesignDocumentation"
                                    type="q6:objectRow"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="objectsForestSeed">
                <xs:annotation>
                    <xs:documentation>Описание табличной части "Объекты лесного семеноводства"</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="row"
                                    xmlns:q7="http://rosleshoz.gov.ru/xmlns/forestPlotDesignDocumentation"
                                    type="q7:objectRow"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="especiallyProtectiveAreas">
                <xs:annotation>
                    <xs:documentation>Описание табличной части "Особо защитные участки лесов"</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="row"
                                    xmlns:q8="http://rosleshoz.gov.ru/xmlns/forestPlotDesignDocumentation"
                                    type="q8:especiallyProtectiveAreaRow"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cutdownPlantation">
                <xs:annotation>
                    <xs:documentation>Описание табличной части "Насаждения отведенные в рубку" используется для расчета аредной платы</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="row"
                                    xmlns:q9="http://rosleshoz.gov.ru/xmlns/forestPlotDesignDocumentation"
                                    type="q9:cutdownPlantationRow"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="attachments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="file"
                                    type="ns0:file"
                                    minOccurs="0"
                                    maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="landDistributionRow">
        <xs:annotation>
            <xs:documentation>Таблица "Распределение земель" в характеристике лесного участка</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="totalArea"
                        type="ns2:area">
                <xs:annotation>
                    <xs:documentation>Поле "Общая площадь - всего".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="landCoveredForest"
                        type="ns2:area">
                <xs:annotation>
                    <xs:documentation>Поле "Занятые лесными насаждениями".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="forestCrops"
                        type="ns2:area">
                <xs:annotation>
                    <xs:documentation>Поле "Лесные культуры".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="forestPlantations"
                        type="ns2:area">
                <xs:annotation>
                    <xs:documentation>Поле "Лесные питомники, плантации".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="landNotCoveredForest"
                        type="ns2:area">
                <xs:annotation>
                    <xs:documentation>Поле "Не занятые лесными насаждениями".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="forestLand"
                        type="ns2:area">
                <xs:annotation>
                    <xs:documentation>Поле "Лесные земли - итого".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="roads"
                        type="ns2:area">
                <xs:annotation>
                    <xs:documentation>Поле "Дороги".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="glades"
                        type="ns2:area">
                <xs:annotation>
                    <xs:documentation>Поле "Просеки".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="swamps"
                        type="ns2:area">
                <xs:annotation>
                    <xs:documentation>Поле "Болота".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="other"
                        type="ns2:area">
                <xs:annotation>
                    <xs:documentation>Поле "Другие".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="notForestLand"
                        type="ns2:area">
                <xs:annotation>
                    <xs:documentation>Поле "Нелесные земли - итого".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="plantingCharacteristicsRow">
        <xs:annotation>
            <xs:documentation>Таблица "Характеристика насаждений" в характеристике лесного участка
Дополнительно в данном теге передаются прочие характеристики лесотаксационного выдела, для целей расчета арендной платы и 
материально-денежной оценки по товарным таблицам.
Также данные данного тега используются для таблицы "Особо защитные участки лесов"</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="specialPurpose"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Справочник "Целевое назначение лесов"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="protectionCategory"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Справочник "Категории зацитности"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="location"
                        type="ns0:location">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nameLand"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Справочник "Наименования земель лесного фонда"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="farm"
                        type="ns2:farm">
                <xs:annotation>
                    <xs:documentation>Справочник "Хозяйства"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tree"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Преобладающая порода (Указывается элемент справочника "Породы древесины")</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ageGroup"
                        type="ns2:ageGroup">
                <xs:annotation>
                    <xs:documentation>Группа возраста</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="area"
                        type="ns2:area">
                <xs:annotation>
                    <xs:documentation>Эксплуатационная площадь выдела</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="volume"
                        type="ns2:valueCutting">
                <xs:annotation>
                    <xs:documentation>Эксплуатационный запас</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="especiallyProtectiveArea"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Особо-защитные участки (ОЗУ)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="averageTaxationRatesRow">
        <xs:annotation>
            <xs:documentation>Таблица "Средние таксационные показатели насаждений лесного участка" в характеристике лесного участка</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="specialPurpose"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Справочник "Целевое назначение лесов"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="farm"
                        type="ns2:farm">
                <xs:annotation>
                    <xs:documentation>Справочник "Хозяйства"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tree"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Преобладающая порода (Указывается элемент справочника "Породы древесины")</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="forestComposition"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation>Средний состав насаждения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="age"
                        type="xs:int">
                <xs:annotation>
                    <xs:documentation>Возраст насаждения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bonitet"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Бонитет</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="completeness"
                        type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>Полнота насаждения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="young"
                        type="ns2:valueCutting">
                <xs:annotation>
                    <xs:documentation>Средний запас молодняков</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="middle"
                        type="ns2:valueCutting">
                <xs:annotation>
                    <xs:documentation>Средний запас средневозрастных насаждений</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ripening"
                        type="ns2:valueCutting">
                <xs:annotation>
                    <xs:documentation>Средний запас приспевающих насаждений</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ripeAndOverripe"
                        type="ns2:valueCutting">
                <xs:annotation>
                    <xs:documentation>Средний запас спелых и перестойных насаждений</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="objectRow">
        <xs:annotation>
            <xs:documentation>Таблица описания объекта в лесном участке</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="location"
                        type="ns0:location">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="volume"
                        type="ns2:valueCutting">
                <xs:annotation>
                    <xs:documentation>Запас или площадь объекта</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="object"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Объект инфраструктуры</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unitType"
                        type="ns0:reference"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Единица измерения</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="especiallyProtectiveAreaRow">
        <xs:annotation>
            <xs:documentation>Таблица описания ОЗУ в лесном участке</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="location"
                        type="ns0:location">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="especiallyProtectiveArea"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Особо-защитные участки (ОЗУ)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="area"
                        type="ns2:area">
                <xs:annotation>
                    <xs:documentation>Площадь ОЗУ</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="cutdownPlantationRow">
        <xs:annotation>
            <xs:documentation>Таблица насаждения отведенные в рубку</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="location"
                        type="ns0:location">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="costСategory"
                        type="xs:int">
                <xs:annotation>
                    <xs:documentation>Разряд такс</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="floors">
                <xs:annotation>
                    <xs:documentation>Ярусы насаждений</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="floor"
                                    xmlns:q10="http://rosleshoz.gov.ru/xmlns/forestPlotDesignDocumentation"
                                    type="q10:floorRow"
                                    minOccurs="1"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Ярус</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="floorRow">
        <xs:annotation>
            <xs:documentation>Таблица ярусов</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="floor"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Ярус</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="diametr"
                        type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>Средний диаметр насаждения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="height"
                        type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>Средняя высота насаждения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="volume"
                        type="ns2:valueCutting">
                <xs:annotation>
                    <xs:documentation>Запас яруса</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:sequence>
                <xs:element name="breedComposition"
                            xmlns:q11="http://rosleshoz.gov.ru/xmlns/forestPlotDesignDocumentation"
                            type="q11:breedCompositionRow"
                            minOccurs="1"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Породный состав яруса</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="breedCompositionRow">
        <xs:annotation>
            <xs:documentation>Породный состав</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="tree"
                        type="ns0:reference">
                <xs:annotation>
                    <xs:documentation>Порода (Указывается элемент справочника "Породы древесины")</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="coefficient"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation>Коэффициент состава насаждения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="marketabilityClass"
                        type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>Класс товарности</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
